
<!DOCTYPE html>
	<html itemscope="" itemtype="http://schema.org/Organization" lang="ru">
	<head>
		<title>Публикация и аналитика в соцсети</title>
  </head>

  <body>
  	<article class="promo-page is-floating" id="top">
  		<div class="promo-page_scroller">
  			<div class="promo-page_header">
  				<header class="promo-header">
  					<div class="promo-header_menu">
  						<ul class="promo-menu">
  							<li class="promo-menu_item is-scroll">
  								<a class="promo-menu_link" href="#price">Цены</a>
  							</li>
  						</ul>
  					</div>
  					<div class="promo-header_logo">
  						<a class="promo-logo" href="#top">SMMTool</a>
  					</div>
  					<div class="promo-header_action">
  						<a class="promo-section-link" href="/login">Вход</a>
  					</div>
  				</header>
  			</div>
	  		<div class="promo-help">
	  			<div class="promo-help_content">
	  				<div class="promo-help_icon"></div>
	  				<p class="promo-help_main">SMMTool — сервис отложенной публикации в соцсеть.</p>
	  				<p class="promo-help_main">Чтобы мы могли публиковать на ваши страницы, мы запрашиваем права на публикацию записей.</p>
	  				<p class="promo-help_main">Не волнуйтесь — мы никогда не публикуем без разрешения.</p>
	  				<p class="promo-help_side">По правилам Вконтакте, чтобы подключить корпоративную страницу,сначала войдите через личный аккаунт.</p>
	  			</div>
	  		</div>
	  		<section class="promo-page_section is-main">
	  			<div class="promo-page_body" >
	  				<div class="promo-page_text">
	  					<div class="promo-text is-white is-shadow">
	  						<h1 class="promo-text_title">Публикация в социальную сеть и аналитика для компаний и агентств</h1>
	  					</div>
	  				</div>
	  			</div>
	  			<footer class="promo-page_footer"></footer>
	  		</section>
	  		<section class="promo-page_section is-feature">
	  			<div class="promo-page_body">
	  				<div class="promo-page_text">
	  					<div class="promo-text is-red">
	  						<div class="promo-text_icon is-editor"></div>
	  						<h2 class="promo-text_title">Публикация в соцсеть сразу</h2>
	  						<div class="promo-text_desc">Редактор постов правильно обработает ссылки, картинки и ролики, учтёт особенности соцсети и не даст опубликовать некорректный контент. Посты публикуются мгновенно и по расписанию.</div>
	  					</div>
	  				</div>
	  			</div>
	  		</section>
	  		<section class="promo-page_section is-feature">
	  			<div class="promo-page_body">
	  				<div class="promo-page_text">
	  					<div class="promo-text is-red">
	  						<div class="promo-text_icon is-analytics"></div>
	  						<h2 class="promo-text_title">Подробная аналитика</h2>
	  						<div class="promo-text_desc">SMMTool подсчитывает лайки, комментарии, репосты, клики и многое другое. Статистика обновляется каждый час.</div>
	  						<div class="promo-text_desc">Покажем активность аудитории, динамику роста и рейтинг лучших постов на графиках и в еженедельной рассылке.
	  						</div>
	  						<div class="promo-text_desc"></div>
	  					</div>
	  				</div>
	  			</div>
	  		</section>
	  		<section class="promo-page_section is-feedback">
	  			<div class="promo-page_body">
	  				<div class="promo-page_text">
	  					<div class="promo-text is-white">
	  						<h2 class="promo-text_title">Мы уверены в своем продукте</h2>
	  							<div class="promo-text_quote">Перед тем как остановиться именно на нашем продукте, попробуйте остальные. Мы уверены, что вы вернетесь к нам.</div>
	  					</div>
	  				</div>
	  			</div>
	  		</section>
	  		<section class="promo-page_section is-feedback">
	  			<div class="promo-page_body">
	  				<div class="promo-page_text">
	  								<div class="promo-text_quote">Подключили наш социальный аккаунт к SMMTool-у и с интересом следим за статистикой групп. Выявили посты, которые бесят аудиторию и вызывают отписки — больше не ошибаемся</div>
	  							<cite class="promo-text_note">
	  								<span class="promo-text_author">Андрей Муллагалиев</span>
	  								<span class="promo-text_role">Создатель</span>
	  							</cite>
	  					</div>
	  				</div>
	  			</div>
	  		</section>
	  		<section class="promo-page_section is-feedback">
	  			<div class="promo-page_body">
	  				<div class="promo-page_text">
	  					<div class="promo-text is-white">
	  						<div class="promo-text_logo">
	  							<div class="promo-client is-lifehacker"></div>
	  						</div>
	  						<blockquote>
	  							<div class="promo-text_quote">Мы отличаемся тем, что статистика обновляется каждый час. </div>
	  							<cite class="promo-text_note">
	  								<span class="promo-text_author">Байер Сергей</span>
	  								<span class="promo-text_role">Создатель</span>
	  							</cite>
	  						</blockquote>
	  					</div>
	  				</div>
	  			</div>
	  		</section>
	  		<section class="promo-page_section is-feedback">
	  			<div class="promo-page_body">
	  				<div class="promo-page_text">
	  					<div class="promo-text is-white">
	  						<div class="promo-text_logo">
	  							<div class="promo-client is-obradoval"></div>
	  						</div>
	  							<div class="promo-text_quote">После введения SMMTool-а, сотрудники будут работать в два раза быстрее, а вы будите экономить на заработной плате.</div>
	  					</div>
	  				</div>
	  			</div>
	  		</section>
	  		<section class="promo-page_section is-end" id="price">
	  			<div class="promo-page_body">
	  				<div class="promo-page_text">
	  					<div class="promo-text is-white">
	  						<h2 class="promo-text_title">Попробуйте SMMTool в деле</h2>
	  						<div class="promo-text_action">Подготовим первый отчёт за 20 минут</div>
	  						<div class="promo-text_price">
	  							<div class="promo-text_price-info">
	  								<span class="promo-text_price-num">$5</span>
	  								в месяц
	  							</div>
	  							<div class="promo-text_action">за каждую страничку в соцсети</div>
	  						</div>
	  						<div class="promo-text_action"></div>
	  						<div class="promo-text_action"></div>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="promo-page_footer">
	  				<footer class="promo-footer">
	  					<a class="promo-footer_link" href="tel:+734520000">+7 (3452) 00-00-00</a>
	  					<a class="promo-footer_link" href="mailto:help@smmtool.com">help@smmtool.com</a>
	  				</footer>
	  			</div>
	  		</section>
  		</div>
  	</article>
</body>
</html>
