<!DOCTYPE html>
<html>
  <head>
    <title>SmmTool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    	/*D3
    	*/
    	bar {
		  fill: steelblue;
		}

		.bar:hover {
		  fill: white ;
		}

		.axis--x path {
		  display: none;
		}
    	/*
		reset
    	*/
    	.form-horizontal .form-group{
    		margin: 0;
    		padding: 0;
    		padding-top: 10px;
    	}
		select{
			display: inline-block;
    		vertical-align: sub;
    		width: 100%;
		}
    	body{
    	}
	    *{
	    	box-sizing: border-box;
	    }
    	.wrapper{
    		width: 100%;
    		margin: 0 auto;
    		overflow: hidden;
    	}
    	.wrapper .top-bar {
    		height: 30px;
    		background-color: #708090;
    		padding: 5px 0;
    	}
    	.wrapper .work-area{
    		width: 100%;
    		margin-top: 30px;
    	}
    	.wrapper .left-sidebar{
    		position: fixed;
    		height: 100%;
    		transition: all 0.3s ease-in-out;
    		padding-right: 0;
    		padding-left: 0;
    		left: 0;
    		z-index: 999;
    		background-color: #ececec;
    		overflow: scroll;
    	}
    	.wrapper .content-wrapper{
    		position: absolute;
    		right: 0;
    		background-color: #f1f1f1;
    		border-left: 1px solid #e4e4e4;
			padding: 15px 30px;
			min-height: 100%;
    	}
    	.logo{
    		//width: 120px;
    		height: 20px;
    		color: white;
    	}
    	.top-bar{
    		color: white;
    	}
    	.navbar-settings {
			//width: 120px;
			height: 20px;
			//background-color: #ff2fff;
			float: right;
    	}
    	.navbar-settings .navbar-settings-item{
    		margin-left: 10px;
    	}
    	.navbar-settings a{
    		font-size: 10px;
    		padding: 0 !important;
			color: white;
    	}
    	.test{
    		height: 1900px;
    		width: 100%;
    		background-color: #ff22ff;
    	}

    	.tab-groups{
    		background-color: white;
    		padding: 10px 25px;
    		border: 1px solid #ddd;
    		border-top: 0;
    		min-height: 300px;
    	}
    	.group-settings{
    		background-color: #ececec;
			padding: 10px;
    	}
    	.group-info{
    		background-color: #ececec;
    		box-sizing: border-box;
    		border-right: 10px solid white;
    		padding: 10px;
    	}
    	.group-statistic{
			background-color: #f26767;
			padding: 10px;
    		margin-top: 10px;
    	}
    	.group-result{
    		background-color: #67acf2;
    		padding: 10px;
    		margin-top: 10px;
    	}

    	.graphics-view{
    		width: 100%;
    		overflow: scroll;
    	}
    </style>
  </head>
	
  <body>
	<div class="wrapper">
		<div class="top-bar navbar-fixed-top">
			<div class="container">
					<a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
					<!-- logo -->
					<div class="pull-left left logo">
						<span >SMM-project BETA</span>
					</div>
					<div class="navbar-settings">
					 	<span class="navbar-settings-item"><a href="#">Настройки</a></span>
					 	<span class="navbar-settings-item"><a href="/exit">Выход</a></span>
				    </div>
			</div>
			<!-- /container -->
		</div>

		<div class="row work-area">
			<div id="left-sidebar" class="left-sidebar col-md-3">
				<!-- main-nav -->
					<nav class="main-nav">
						<ul class="main-menu">
							<li><a href="page-projects.html"><i class="fa fa-briefcase"></i><span class="text" style="opacity: 1;">Projects</span></a></li>
							<li><a href="page-project-detail.html"><i class="fa fa-tasks"></i><span class="text" style="opacity: 1;">Project Detail</span></a></li>
						</ul>
					</nav>
				<!-- /main-nav -->	
			</div>

			<div id="main-content-wrapper" class="content-wrapper col-md-9" >
				<ul class="breadcrumb">
					<li><i class="fa fa-home"></i><a href="#">Home</a></li>
					<li class="active">Dashboard</li>
				</ul>
	    		<%= yield %>
			</div>
		</div>
	
	</div>
  </body>
</html>
